<div class="container-fluid">
  <div class="row">
    <form id="searchForm" method="get" action="/search/searchData">
      <div class="row">
        <div class="form-group">
          <div class="col-md-1"></div>
          <div class="col-md-7">
            <input class="form-control" type="text" id="searchField" name="searchField"></input>
          </div>
          <div class="col-md-3">
            <input type="submit" class="sm-button brand-button"></input>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
